*::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

:root {
    --text-color-one: hsl(162, 71%, 35%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    top: 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 30px;
    gap: 5em;
    color: var(--text-color-one);
    
}

.header-links a {
    text-decoration: none;
    color: var(--text-color-one);
}

#About {
    display:  flex;
    background-color: #551d038f;
    color: whitesmoke;
}