*::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0a8167ee;
    color: white;
}

:root {
    --text-color-one: hsl(0, 0%, 98%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    position: sticky;
    background-color: rgb(77, 14, 14);
    top: 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 30px;
    gap: 5em;
    color: var(--text-color-one);
    font-size: 20px;
    
}

.header-links a {
    text-decoration: none;
    color: var(--text-color-one);
}

#About {
    display:  flex;
    background-color: #0a8167ee;
    color: whitesmoke;
    
}

.image {
    padding: 12px;
}

.text h1 {
    text-align: center;
    padding-top: 25px;
    font-weight: bolder;
    font-size: 40px;
}

.text p {
    text-align: center;
    font-size: 25px;
}

.sign-up-button {
    border: 0;
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
    background-color: brown;
    color: white;
    margin: 0 auto;
}
#Products {
    background-color: #0a8167ee;
    width: 100%;
} 

.info-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-image {
    border: 4px solid rgb(187, 33, 6);
    border-radius: 30px;
    width: 350px;
    height: 350px;
}

.products-header {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 0;
}

.info-caption {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.quote {
    background-color: rgba(59, 13, 13, 0.719);
    padding: 25px;
    font-size: 30px;
    font-style: italic;
}

#Contact {
    display: flex;
    gap: 10px;
    border: solid;
    padding: 20px;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}

.footer-information {
    display: flex;
    justify-content: center;
}